{% extends "miniGithub/base.html" %}
{% block body_block %}

    <div class="container">
        <div class="jumbotron">
            <h2>Assign user to problem: <b>{{problem.title}}</b></h2>
                <form action="save/" method="post">
                    {% csrf_token %}
                    <div>
                        <label for="assignee">Assignee:</label>
                        <select name="assignee" id="assignee">
                          {% if problem.current_assignee %}
                            <option value={{null}}>None</option>
                          {% endif %}
                          {% for user in collaborators %}
                            <option value={{user.id}}>{{user.username}}</option>
                          {% endfor %}
                        </select>
                        <input type="submit" name="add" value="Assign user">
                    </div>
                </form>
        </div>
    </div>


    {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}

    {% endif %}

{% endblock %}