{% extends "miniGithub/base.html" %}
{% block body_block %}
    <h3>Edit label for project {{ project.title }}</h3>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form action="" method="post">

    {% csrf_token %}

      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" name="title" class="form-control" placeholder="Title" value="{{label.title}}">
      </div>
      <div class="form-group">
        <label for="color">Color:</label>
        <input type="color" name="color" placeholder="Color" value="{{label.color}}"/>
      </div>
      <div>
          <input class="btn btn-success" type="submit" name="" value="Edit label">
      </div>
    </form>

{% endblock %}