{% extends "miniGithub/base.html" %}
{% block body_block %}
      <div class="container">
        <div class="jumbotron">
              <h1>Login here :</h1>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {# A more "HTML" way of creating the login form#}
                <div>
                    <label for="username">Username:</label>
                    <input type="text" name="username" placeholder="Username">
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" name="password" placeholder="Password">
                </div>
                <div>
                    <input type="submit" name="" value="Login">
                </div>

            </form>
        </div>
      </div>

    {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}

    {% endif %}

{% endblock %}