{% extends "miniGithub/base.html" %}
{% block body_block %}

<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>
  <div class="row" style="align-items: center; display: flex;">
    <div class="col-md-10">
      <h3>My Projects</h3>
    </div>
    <div class="col-md-2">
      <a href="{% url 'project_add_edit' 0  %}" class="btn btn-primary">
        Add project
      </a> 
    </div>
  </div>
  <br />
  <div class="list-group">
    {% for project in projects %}
      <a class="list-group-item" href="/projects/{{ project.id }}/problems/">
        {{ project.title }}
      </a>
    {% empty %}
      <p>There are no projects created</p>
    {% endfor %}
  </div>

  <!-- <table>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Show Collaborators</th>
      <th>Add collaborator</th>
      <th>Edit project</th>
    </tr>
  {% for project in projects %}
        <tr>

          <td>
            {{forloop.counter}}
          </td>

          <td>
            <a href="/projects/{{ project.id }}/problems/">
                {{ project.title }}
            </a>
          </td>

          <td>
            <a href="/projects/{{ project.id }}/collaborators">
              Collaborators
            </a>
          </td>

          <td>
            <a href="/add_collaborator/{{ project.id }}/view/">
              Add collaborator
            </a>
          </td>

          <td>
            <a href="/projects/add_edit/{{ project.id }}/">
              Edit
            </a>
          </td>
        </tr>
  {% endfor %}
  </table> -->
{% endblock %}

