{% extends "miniGithub/base.html" %}
{% load humanize %}
{% block body_block %}
  <div class="row" style="display: flex; align-items: flex-end;">
    <div class="col-md-10">
      <h3>{{project.title}}</h3>
      <h5>
        <a href="{{project.git_repo}}">
          {{ project.git_repo }}
        </a>
      </h5>
    </div>
    <div class="col-md-2">
      {% if project.is_owner %}
        <a class="btn btn-primary" href="{% url 'project_add_edit' project.id %}">
          Edit project
        </a>
      {% endif %}
    </div>
  </div>

  <ul class="nav nav-tabs">
    <li class="{% if tab_name == 'problems' %}active{% endif %}">
      <a data-toggle="tab" href="{% url 'project_details' project.id 'problems' %}">Problems</a>
    </li>
    <li class="{% if tab_name == 'milestones' %}active{% endif %}">
      <a data-toggle="tab" href="{% url 'project_details' project.id 'milestones' %}">Milestones</a>
    </li>
    {% if project.is_owner %}
      <li class="{% if tab_name == 'collaborators' %}active{% endif %}">
        <a data-toggle="tab" href="{% url 'project_details' project.id 'collaborators' %}">Collaborators</a>
      </li>
    {% endif %} 
    <li class="{% if tab_name == 'labels' %}active{% endif %}">
      <a data-toggle="tab" href="{% url 'project_details' project.id 'labels' %}">Labels</a>
    </li>
  </ul>
  <div class="panel-body">
    <div class="tab-content">
      <div id="problems" class="tab-pane {% if tab_name == 'problems' %}active{% endif %}">
      <br/>
      <div class="row">
        <div class="col-md-2" >
          <a href="{% if filter == 'open' %}/projects/{{ project.id }}/problems{% else %}open{% endif %}">
            <button type="button" class="btn {% if filter == 'open' %}btn-info{% else %}btn-default{% endif %}">open</button>
          </a>
          <a href="{% if filter == 'closed' %}/projects/{{ project.id }}/problems{% else %}closed{% endif %}">
            <button type="button" class="btn {% if filter == 'closed' %}btn-info{% else %}btn-default{% endif %}">closed</button>
          </a>
        </div>
        <div class="col-md-8"></div>
        <div class="col-md-2">
          <a href="{% url 'add_problem' project.id %}">
            <button type="button" class="btn btn-success">Report problem</button>
          </a>
        </div>
      </div>
      <br />

      <div class="list-group">
        {% for problem in problems %}
          <a class="list-group-item" href="/projects/{{ project.id }}/problems/{{ problem.id }}/" style="display: flex; align-items: flex-start;">
            <span style="margin-right: 15px;">
              {% if problem.is_open  %}
                <span class="glyphicon glyphicon-exclamation-sign" style="color: green;"></span>
              {% else %}
                <span class="glyphicon glyphicon-ban-circle" style="color: red;"></span>
              {% endif %}
            </span>
            <span>
              <p>
                <strong>{{ problem.title }}</strong>
              </p>
              <p class="text-muted">
                {% if problem.is_open %}
                  #{{problem.id}} opened {{problem.created_time|naturaltime}} by {{problem.reported_by}}
                {% else %}
                  #{{problem.id}} closed {{problem.closed_time|naturaltime}} by {{problem.closed_by}}
                {% endif %}
              </p>
            </span>
          </a>
        {% empty %}
          <p>There are currently no problems reported with this filter</p>
        {% endfor %}
        </div>
      </div>
    </div>

     <div class="tab-content">
      <div id="milestones" class="tab-pane {% if tab_name == 'milestones' %}active{% endif %}">
      <br/>
      <div class="row">

        <div class="col-md-2">
          <a href="{% if filter == 'open' %}/projects/{{ project.id }}/milestones{% else %}open{% endif %}">
            <button type="button" class="btn {% if filter == 'open' %}btn-info{% else %}btn-default{% endif %}">open</button>
          </a>
          <a href="{% if filter == 'closed' %}/projects/{{ project.id }}/milestones{% else %}closed{% endif %}">
            <button type="button" class="btn {% if filter == 'closed' %}btn-info{% else %}btn-default{% endif %}">closed</button>
          </a>
        </div>
        <div class="col-md-8"></div>
        <div class="col-md-2">
          <a href="{% url 'add_milestone' project.id %}">
            <button type="button" class="btn btn-success">Report milestone</button>
          </a>
        </div>

      </div>
      <br />
      <div class="list-group">
        {% for milestone in milestones %}
          <div class="list-group-item" style="display: flex; justify-content: space-between; align-items: flex-end;">
            <span>
              <h4>
                <a href="{% url 'milestone_details' project.id milestone.id %}">
                  <strong>{{ milestone.title }}</strong>
                </a>
              </h4>
              <p class="text-muted">
                {% if milestone.is_open  %}
                  <strong style="margin-right: 15px">due date {{milestone.due_date|naturaltime}}</strong>
                {% else %}
                  <strong style="margin-right: 15px">closed {{milestone.closed_time|naturaltime}}</strong>
                {% endif %}
                <span class="glyphicon glyphicon-time"></span>
                opened {{milestone.created_time|naturaltime}} 
              </p>
              <p class="text-muted">
                {{milestone.description}}
              </p>
            </span>
            <span style="margin-bottom: 10px;">
              {% if milestone.is_open  %}
                <a style="color: red;" href="/projects/{{project.id}}/milestones/{{milestone.id}}/close/">Close</a>
              {% else %}
                <a href="/projects/{{project.id}}/milestones/{{milestone.id}}/open/">Reopen</a>
              {% endif %}
            </span>
          </a>
        </div>

        {% empty %}
        <p>There are currently no milestones reported with this filter</p>
        {% endfor %}
        </div>
      </div>
    </div>


    <div class="tab-content">
      <div id="collaborators" class="tab-pane {% if tab_name == 'collaborators' %}active{% endif %}">
      <br/>
      <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
          <a href="{% url 'add_collaborator_view' project.id %}">
            <button type="button" class="btn btn-success">Add collaborator</button>
          </a>
        </div>
      </div>
      <br />
      <div class="list-group">
        {% for collaborator in collaborators %}
          <span class="list-group-item" style="display: flex; justify-content: space-between; align-items: flex-end;">
            <span>
              <p>
                <strong>{{ collaborator.username }}</strong>
              </p>
              <p class="text-muted">
                {{ collaborator.first_name }} {{ collaborator.last_name }} - <strong>{{ collaborator.email }}</strong>
              </p>
            </span>
            <a style="color: red; margin-bottom: 10px;" href="{% url 'delete_collaborator' project.id collaborator.id %}">
              Remove
            </a>
          </span>
        {% empty %}
        <p>There are currently no collaborators added for this project</p>
        {% endfor %}
        </div>
      </div>
    </div>
  
    <div class="tab-content">
      <div id="labels" class="tab-pane {% if tab_name == 'labels' %}active{% endif %}">
      <br/>
      <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
          <a href="{% url 'add_label' project.id %}">
            <button type="button" class="btn btn-success">Add label</button>
          </a>
        </div>
      </div>
      <br />
      <div class="list-group">
        {% for label in labels %}
          <a class="list-group-item" href="{% url 'label_details' project.id label.id %}">
            <p>
              <span class="label label-default" style="background-color:{{label.color}}!important;">
                {{ label.title }}
              </span>
            </p>
          </a>
        {% empty %}
          <p>There are currently no labels added for this project</p>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

